/* Navigation */
.nav {
    display: inline-block;
}

#navbarResponsive > ul:nth-child(2) > li:nth-child(2) > form > button {
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    transition: all .2s;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba( 255,255,255,.8);
}

.nav-identity {
    padding-top: 18px !important;
}

/* Custom Media Object Border */
.media-border {
    border: 2px solid black;
}

/* Custom BG Color */
.bg-cf {
    background: #fac7d7;
}

/* App Wide Font Weight */
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading,
select, input, textarea, option, label, .tooltip-inner {
    font-weight: 600;
}

/* General Padding */
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 100px 0;
}

/* Google Map */
#map {
    height: 400px;
}

.noline {
    text-decoration: none;
}

/* Summernote */
.note-editable, .note-placeholder {
    font-size: 22px;
}

/* Button Styles */
.btn-tag {
    margin-top: 10px;
}

.btnWide, .btn-tag {
    width: 100%;
}

button.btn-sm, a.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

.btn-dark:hover {
    border: 4px solid #fa94ac;
}

.btn-warning {
    color: #212121;
    background-color: #fa94ac;
    border-color: #fa94ac;
}

.btn-warning:hover {
    color:white;
    background-color: #212121;
    outline: 4px solid #fa94ac;
}

/* Card Styles */
.card-hr {
    color: #212121;
    background-color: #212121;
    height: 3px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img, .card-img-top, .card-img-bottom {
    height: 150px;
}

/* Page Styles */
.page-item.active .page-link {
    background-color: #212121;
    border-color: black;
}

.page-link {
    color: #212121;
}

/* Sweet Alert Styles */
div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 2px solid #FA94AC;
}

/* Tooltip Styles */
.mrtooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: .25rem;
    border: 2px solid #FA94AC;
    outline: 4px solid black;
}

.tooltip.show {
    opacity: 1;
}

/* Tags */
#TagList {
    width: 100%;
    font-weight: 600;
}

.tagView {
    max-height: 300px;
    overflow-y: scroll;
}

/* Webkit Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FA94AC;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}

/* Card Flipping */
.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.image-flip {
    margin-bottom:200px;
    width: 300px;
    height: 250px;
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.frontside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.backside {
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card, .card-img-top {
    border-radius: 0;
}

.card-title {
    text-align: center;
}

.card-subtitle {
    text-decoration: #fac7d7;
    text-align: center;
    font-style: italic;
}

.card-date {
    text-decoration: #fac7d7;
    font-style: italic;
}